<!doctype html>
<html>
<head>
    <title>Afnan Mir - About Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
    <style>
        .aligned { 
            display: flex; 
            align-items: center; 
        } 
           
        span { 
            padding: 100px; 
        }
        body{
          background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("static/img/background.jpg");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse py-4">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; font-weight: 500; letter-spacing: 2px;">Afnan Mir</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{{ url_for('home') }}" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; font-weight: 500; letter-spacing: 2px;">Home</a></li>
            <li><a href="{{ url_for('about_me') }}" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; font-weight: 500; letter-spacing: 2px;">About Me</a></li>
            <li><a href="{{ url_for('coursework') }}" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; font-weight: 500; letter-spacing: 2px;">Coursework</a></li>
            <li><a href="{{ url_for('personal_projects') }}" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; font-weight: 500; letter-spacing: 2px;">Personal Projects</a></li>
            <li><a href = "{{ url_for('organizations') }}" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; font-weight: 500; letter-spacing: 2px;">Extracurriculars</a></li>
            <li><a href="{{ url_for('contact_me') }}"  style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; font-weight: 500; letter-spacing: 2px;">Contact Me</a></li>
          </ul>
        </div>
      </nav>
      
      <div class="about-me">
        <h1 style="text-align: center; font-family:'Roboto'; font-size: 50px; color: white;">About Me</h1>
        <div class="col-left">
            <img src="static/img/AboutMePic.jpg" alt="Profile Picture">
        </div>
        <div class="col-right">
            <p>I am currently a student at the University of Texas at Austin 
                studying Electrical and Computer Engineering in the honors program, planning on taking a combination of the software 
                engineering and data science tracks. At the moment, I hope to pursue a career in machine learning, improving its implementations and 
                applying it in areas that would greatly improve the lives of those around me. But who knows how much this could change in the future...
                <br>Outside of my academic life and my career interests, I enjoy doing anything that gets me out of the house. My go-to hobby is and always has been
                playing basketball. Don't let my 5 foot 7 inch height fool you. I will take your ankles. Outside of basketball, I also enjoy going on runs, exploring new places,
                and, most importantly, spending quality time with friends and family.
                <br> I also have many goals outside of my career I want to accomplish. I guess its more of a bucket list then. Many of them have to do with travelling. I would
                like to take as many pictures of the world's most famous skylines as I can, from New York City, to Dubai, to Toronto. I love a good skyline. I also want to visit 
                the natural beauties of the world like Iceland or the Maldives.
            </p>
        </div>
    </div>
</body>