<!doctype html>
<html>
<head>
    <title>Afnan Mir - Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
    <style>
        body{
          background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("static/img/background.jpg");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
        /* .darkened-image { 
            filter: brightness(50%); 
            background-image: url( 'static/img/background.jpg');
        } */
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse py-4">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; font-weight: 500; letter-spacing: 2px;">Afnan Mir</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; font-weight: 500; letter-spacing: 2px;">Home</a></li>
            <li><a href="{{ url_for('about_me') }}" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; font-weight: 500; letter-spacing: 2px;">About Me</a></li>
            <li><a href="{{ url_for('coursework') }}" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; font-weight: 500; letter-spacing: 2px;">Coursework</a></li>
            <li><a href="{{ url_for('personal_projects') }}" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; font-weight: 500; letter-spacing: 2px;">Personal Projects</a></li>
            <li><a href = "{{ url_for('organizations') }}" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; font-weight: 500; letter-spacing: 2px;">Extracurriculars</a></li>
            <li><a href="{{ url_for('contact_me') }}"  style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; font-weight: 500; letter-spacing: 2px;">Contact Me</a></li>
          </ul>
        </div>
      </nav>
      <div class = "darkened-image"></div>
      <div class="container">
          <div class = "center">
              <h1 style="color: white; text-align: center; font-family:'Roboto', sans-serif; font-size: 50px;">Welcome to My Personal Website</h1>
              <p style="color: white; text-align: center; font-family: 'Roboto', sans-serif;padding-bottom: 100px;"> "You're only guaranteed one advantage over everyone else in life: No one else can be you."</p>
          </div>
      </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='scrolling.js')}}"></script>
</body>


</html>